<div id="post" class="section z-depth-2">
  <p >
        <a class="font-medium  navy-blue">{{post.created_by}} </a> 
        <medium> {{post.text}}</medium> 
  </p>

  <div class="divider"></div>
  <p class="greyColor"> 
    <span class="blueColor"><i class="tiny material-icons">thumb_up</i> {{post.likes}}</span>
    <span ng-show="authenticated" ng-click="likePost(post)" ><i class="tiny material-icons">thumb_up</i> Like</span>
    <small class="right">{{post.created_at | date:"h:mma 'on' MMM d, y"}}</small>
  </p>
</div>

<div id="comment-stream">
  <span id="commento" class="greyColor" >
    <i class="tiny material-icons">comment</i>
    <STRONG> Comments</STRONG>
  </span>
  <div class="section z-depth-2" ng-repeat="comment in allComments | orderBy:'created_at'">
    <p>
        <a class="font-medium  navy-blue">{{comment.created_by}} </a> 
        <medium> {{comment.text}}</medium> 
        <a ng-click="delete(comment)" class="right greyColor tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am tooltip"><i class="tiny material-icons width-14">clear</i></a>
      </p>

      <div class="divider"></div>
      <p class="greyColor">
        <span class="blueColor"><i class="tiny material-icons">thumb_up</i> {{comment.likes}}</span> 
        <span ng-show="authenticated" ng-click="likeComment(comment)" ><i class="tiny material-icons">thumb_up</i> Like</span>
        <small class="right">{{comment.created_at | date:"h:mma 'on' MMM d, y"}}</small>
      </p>
  </div>
 
  <div id="postForm" ng-show="authenticated" class="container z-depth-2">
    <form ng-Submit="comment()">

    <div class="Text">
      <a class="font-medium  navy-blue">{{current_user}} </a> 
      <div class="input-field col s6">
        <textarea id="textarea" required class="materialize-textarea" length="120" ng-model="newComment.text"></textarea>
        <label for="textarea">Whats on you're mind!</label>
      </div>
    </div>

      <button class="btn waves-effect waves-light right indigo darken-4" type="submit" name="action"><i class="tiny material-icons left">chat_bubble_outline</i>CommenT</button>

    </form>

  </div>

</div>
