<div id="regLog" class="col s12">
  <div class="row">
    <div class="col s12 l6">
      <div id="register" >
        <form ng-submit="register()" >
          <h5>Register</h5>
          <div >
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input required id="Name" type="text" ng-model="user.name" class="validate">
              <label for="Name">Name</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">email</i>
              <input required id="Email" type="email" ng-model="user.email" class="validate">
              <label for="Email">Email</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">lock</i>
              <input required id="password" type="password" ng-model="user.password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>

          <button class="btn waves-effect waves-light indigo darken-4" type="submit" name="action">Register <i class="fa fa-user-plus" aria-hidden="true"></i>
            </button>

          <div id="error_message" ng-show="err_register" class="chip">
              <i class="material-icons left">error_outline</i>{{error_message_register}}
          </div>
        </form>
      </div>
    </div>

    <div class="col s12 l6">
      <div id="login">
        <form ng-submit="login()" >
          <h5>Login</h5>
          <div >
            <div class="input-field col s12">
              <i class="material-icons prefix">email</i>
              <input required id="Email" type="email"ng-model="User.email" class="validate">
              <label for="Email">Email</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">lock</i>
              <input required id="password" type="password" ng-model="User.password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>

            <button class="btn waves-effect waves-light indigo darken-4" type="submit" name="action">Login 
              <i class="fa fa-sign-in" aria-hidden="true"></i>
            </button>

          <div id="error_message" ng-show="err_login" class="chip">
              <i class="material-icons left">error_outline</i>{{error_message_login}}
          </div>
        </form>
        <h5 class="OR col s12">OR Login With</h5>

        <div id="fb_google" >

          <a href="/auth/facebook" class="btn waves-effect waves-light indigo darken-4 margin-right-20" ><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a>

          <a href="/auth/google" class="btn waves-effect waves-light red darken-4"><i class="fa fa-google-plus-square" aria-hidden="true"></i> Google +</a>  
        </div>

      </div>
    </div>

  </div>
</div>
